/* Badge.css */
.mochi-badge {
  padding: 8px;
  height: 40px;
  min-width: 40px;
  width: auto;
}
.mochi-badge-inner {
  font-family: "PreludeWGL Light";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  min-width: 24px;
  width: auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}
