/* Header.css */
.mochi-header {
	padding: 0px 32px;
}
.mochi-header-content-container {
	height: 64px;
	display: table;
}
.mochi-header-content-wrapper {
	display: table-cell;
	vertical-align: bottom;
}
.mochi-header-content {
	font-family: "PreludeWGL Light";
	font-size: 36pt;
	line-height: 32pt;
	color: #4b4b4b;
	text-overflow: ellipsis;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
}
.mochi-header-controls {
	height: 64px;
	max-height: 64px;
	display: table-cell;
	vertical-align: bottom;
	padding-left: 56px;
}
.mochi-header-controls > * {
	display: inline-block;
}
