/* InputDecorator.css */
.mochi-input-decorator {
	padding: 1px 8px 5px 8px;
	border-radius: 16px;
	border: 1px solid;
	border-color: #a2a2a2;
	background-color: white;
	margin: 0;
}
.mochi-input-decorator.mochi-focused {
	border-color: #69cdff;
}
.mochi-input-decorator.mochi-disabled {
	/* FIXME: needed to color a disabled input placeholder. */
	/*-webkit-text-fill-color: #888;*/
	opacity: 0.4;
}
