/* Subheader.css */
.mochi-subheader {
  height: 56px;
  padding: 0px 32px;
  white-space: nowrap;
}
.mochi-subheader-content {
  font-family: "Mochi Medium";
  font-size: 18px;
  font-style: italic;
  color: #323232;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* 56px height */
  line-height: 26px;
  padding-top: 30px;
}
