/* ViewSelector */
.mochi-view-select-button {
	position: relative;
	margin: 0px;
	padding: 0px;
}
.mochi-view-select-button > .mochi-button-base:active:hover:not([disabled]) {
	letter-spacing: 2px;
}
.mochi-view-select-button > .mochi-button-base[disabled] {
	opacity: 0.4;
}
