/* standard background style for mochi */
.mochi-sample-background {
	border-width: 244px 244px 244px 244px;
	-moz-border-image: url("assets/background-gradient.png") 244 244 244 244 stretch stretch;
	-webkit-border-image: url("assets/background-gradient.png") 244 244 244 244 stretch stretch;
	-o-border-image: url("assets/background-gradient.png") 244 244 244 244 stretch stretch;
	border-image: url("assets/background-gradient.png") 244 244 244 244 stretch stretch;
	z-index: 0;
}
.mochi-sample {
	padding: 60px;
}
.mochi-sample-tools {
	padding-bottom:10px;
}
.mochi-sample-tools > * {
	margin: 3px;
}
.mochi-sample-divider {
	color: #525252;
	text-transform: uppercase;
	font-family: Prelude, Prelude Medium, 'Helvetica Neue', 'Nimbus Sans L', Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 200;
	margin: 0px 0px 8px 8px;
}
.mochi-sample-result-box {
	width:100%;
}
.mochi-sample-result {
	padding:8px;
}
.mochi-sample-spaced-button {
	margin:3px;
}
.mochi-sample-animate-label {
	vertical-align:middle; 
	padding-left:5px;
}
.mochi-sample-label {
	color: #1879CD;
	font-size: 18px;
	text-transform: uppercase;
}
.mochi-sample-popup {
	font-size: 30px;
	text-align: center;
}
